<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" name="address" class="com.skh.Address" scope="singleton" >
        <property name="state" value="Oklahoma"/>
        <property name="country" value="US"/>
    </bean>

    <bean id="eService"
          class="com.skh.EmployeeService"
          init-method="customInit"
          destroy-method="customDestroy">

        <property name="employeeName" value="Ramesh"/>
    </bean>

    <bean class="com.skh.MyBeanPostProcessor"/>


</beans>